/* fonts */ 

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');


/* --ALL-- */

/* remove margins and padding and set fonts */


*{
    margin: 0 0;
    padding: 0 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* no floating elements */
.fix {
    clear: both;
    float: none;
}

h2 {
    color: #383434;
    font-size: 2rem;
    margin: 2%;
    text-align: center;
}
/*
h1 {
    color: #383434;
    font-size: 1rem;
    margin: 2%;
    text-align: center;
}*/

input:not(.reviewInput) {
    /*width: 80%;
    margin: 3%;*/
    font-size: 1em;
    border-radius: 5px;
    border: none;
    padding: 1%;
}

.reviewInput{
    padding:0%;
}
    
button {   
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0 5%;
    color:white;
    background-color: #9f1429;
    margin: 1%;   
}

button:hover {
    background-color: #941226;
}

a{
    font-size: large;
    font-weight: bold;
    color: #c93333;
    text-decoration: none;
}

a:hover{
    color: #941226;
}

p {
    color: #666161;
    font-size: 1rem;
}

/* selecting from a given list  */
select{
    margin: 4%;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    padding: 1%;
    color: rgb(129, 128, 128);
}








/* --Navbar-- */

h1 > a{    
    color: #383434;
    float: left;
    margin-top: 1%;
}

header {
    margin: 0 auto;
    padding: 1%;
    max-height: 60px;
}

#logo {
    align-content: right;
    height: 5%;
    width: 5%;
    float: left;   
}

.navbar ul {
  margin: 1%;
  text-align: right;
}
  
.navbar li {
    list-style-type: none;
    display: inline;
    font-weight: bold;
    padding: 2%;
}








/* -- Search and Score --*/

#searchDiv{
    /*text-align: center;*/
    background-color: #78c4d7;
}

#searchDiv input {
    width: 50%;
    margin-left: 17%;
}








/* Menu of Restaurants and Dishes */
.part {
    background-color: #d0e9f2be;       
    border-radius: 30px 30px 30px 30px;
    box-shadow: 16px 20px 30px -24px;
    margin: 3%;
    padding: 5%;
}
/*
#restaurants {
    background-color:#d0e9f2be;     
    box-shadow: 16px 22px 51px -24px;
    border-radius: 30px 30px 30px 30px;
    margin: 3%;
    padding: 5%;
}

#dishes {
    background-color: #d0e9f2be;       
    border-radius: 30px 30px 30px 30px;
    box-shadow: 16px 20px 30px -24px;
    margin: 3%;
    padding: 5%;
}
*/
.optionBox {
    width: 48%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 13px;
}

.boxImage {
    width: 25%;
    border-radius: 10px;
    float: left;
}

.boxDesc {
    width: 65%;
    margin-left: 5%;
    float: left;
}
.columnHeart{
    float: left;
    width: 10%;
}

#heart {
    margin:0 auto;
    position: relative;
    float:right;
    left:100%;
    font-size: x-large;   
}
  
i {
    cursor:pointer;
    background:#fff;
    border-radius:50%;
    display:inline-block;
    color:#aaa;
    transition:.2s;
}
  
i:hover {
    color:#666;
}
  
i:before {
    font-family:fontawesome;
    content:'\f004';
    font-style:normal;
}
  
i.press {
    color:#e23b3b;
}








/* --Manage-- */
tr[data-id]{
    cursor:pointer;
}
.myTable {
border-collapse: collapse;
font-size: 0.9em;
font-family: sans-serif;
min-width: 100%;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.myTable thead tr {
background-color: #78c4d7;
color: #78c4d7;
text-align: left;
}
.myTable th,
.myTable td {
    padding: 12px 15px;
}
.myTable tbody tr {
border-bottom: 1px solid #78c4d7;
}
.myTable tbody tr.active-row {
background:#a3cfd7d4;
}

.tab {
overflow: hidden;
border: 1px solid #78c4d7;
background-color: #78c4d7;
}

#addForm input {
    margin: 1% 5%;
    width: 90%;
}

.column button {
    float:right;
    margin-right: 7%;;
}

#addDishForm input {
    margin: 1% 5%;
    width: 90%;
}

#deleteRestaurant {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 30%;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    margin: 0 0;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* Create a two-column layout */
.column {
    background-color: #d0e9f2be;
    float: left;
    width: 100%;
    margin-bottom: 5%;
}
.columnName{
    float: left;
    width: 90%;
    }

/* Clearfix (clear floats) */
    .row::after {
    content: "";
    clear: both;
    display: table;
}

.dishForm {
    visibility: hidden;
}








/* --Login, Register, Profile-- */

/* for all*/
.blueBg {
    background-color: #78c4d7;
    padding: 3%;
    min-height: 100vh;
    width: 100%;
}

.informBox {
    width: 30%;
    min-height: fit-content;
    margin: 1%;
    padding: 2%;
    padding-top: 5%;
    float: left;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 13px;
    margin-left: 35%;
    padding-bottom: 5%;
    box-shadow: 16px 22px 51px -24px #464343;
}

.informBox input {
    width: 80%;
    margin: 3% 10%;
    font-size: 1em;
}

/*Login*/
#log-bttn {
    margin: 5% 2%;
}

.informBox a {
    margin-left: 30%;
}

/* Register */
#reg-bttn {
    margin-left: 35%;
}

.informBox label {
    margin-left: 9%;
    margin-top: 5%;
}

/*Profile*/
.profile button {
    margin-left: 40%;
    margin-top: 10%;
}








/* reviews */
#reviews {
    width: 100%;
    margin: 7% 0;
    padding: 3% 5%;
    background-color:rgb(219, 218, 218);
}

.reviewBox {
    width: 95%;
    margin-bottom: 2%;
    float: left;
    background-color: white;
    border-radius: 5px;
}

.revImage {
    float: left;
    width: 7%;
    border-radius: 2px;
    margin: 1% 1%;
}

.revImage:hover {
    transform: scale(4,4) translateX(20px);
}

.revDesc {
    margin: 1%;
}








/* autocomplete result */
#result {
    border: 1px dotted #ccc;
    padding: 3px;
  }
  #result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #result ul li {
    padding: 5px 0;
  }
  #result ul li:hover {
    background: #eee;
  }
  
  





/* footer */

footer {
    padding: 2%;
    text-align: center;
}




@media only screen and (max-width:768px){ 

    header {
        margin: 0 auto;
        padding: 1%;
        max-height:fit-content;
    }

    #logo {
        align-content: right;
        height: 10%;
        width: 10%;
        float: left;   
    }

    .navbox {
        display: block;
        width: 80%;
    }

    /* search and select */
    #searchDiv input {
        width: 60%;
        margin-left: 20%;
        margin-top: 5%;
    }

    #searchDiv select {
        width: 60%;
        margin-left: 20%;
    }


    /* Menu of Restaurants and Dishes */
    .optionBox {
        width: 90%;
        margin: 1% 5%;
        padding: 5%;
        float: left;
        background-color: white;
        border-radius: 13px;
    }
    

    /* Login and register */

    .informBox {
        width: 90%;
        margin: 20% 5%;
        padding: 5% 1%;
    }
    
    .informBox input {
        width: 90%;
        margin: 3% 5%;
        font-size: 1em;
    }

    .informBox select {
        margin: 5% 20%;
        width: 60%;
    }

    .informBox label {
        margin-left: 20%;
        margin-top: 5%;
        width: 25%;
    }
    #log-bttn {
        margin: 5% 2%;
        width: 25%;
    }
    
    #reg-bttn {
        margin-left: 35%;
        width: 30%;
    }

    .profile label {
        margin-left: 5%;
    }


    


}
